body {
    background-color: rgb(37, 48, 66);
}

h1 {
    color: rgb(228, 227, 227);
    text-align: center;
}

.container {
    position: relative; 
    margin: auto;
    width: 480px;
    height: 480px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    border: lightgrey 1.5px solid;
}

.cell {
    border: lightgrey 0.5px solid;
    background-color: rgb(34, 45, 45);
}

.x-cell {
    background-image: url("images/gimp/x.png");
}

.o-cell {
    background-image: url("images/gimp/o.png");
}

.x-winner {
    background-image: url("images/gimp/red-x.png");
}

.o-winner {
    background-image: url("images/gimp/red-o.png");
}

.text-container {
    width: 480px;
    height: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;
}

.winner-text {
    margin: auto; 
    color: rgb(228, 227, 227);
    padding: 10px 10px;
}

.new-game-button {
    margin: auto;
    border: solid 3px black;
    border-radius: 15%;
    background-color: rgb(228, 227, 227);
    text-align: center; 
    border-color: rgb(34, 45, 45);
    padding: 5px 5px;
}