body {
    background-color: rgb(37, 48, 66);
}

h1 {
    color: rgb(228, 227, 227);
    text-align: center;
}

.container {
    position: relative; 
    margin: auto;
    width: 480px;
    height: 480px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    border: lightgrey 1.5px solid;
}

.cell {
    border: lightgrey 0.5px solid;
    background-color: rgb(34, 45, 45);
}

.x-cell {
    background-image: url("images/x.png");
}

.o-cell {
    background-image: url("images/o.png");
}

.text-container {
    margin: auto;
    display: grid; 
    text-align: center;
}

.winner-text {
    color: rgb(228, 227, 227);
}